<div class="text-center font-bold border underline">Welcome to app!</div>
<button class="bg-cyan-500 shadow-lg shadow-cyan-500/50 ...">Subscribe</button>
<p data-controller="hello" data-action="click->hello#handleClick"></p>

